* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: static !important;
  font-family: "Poppins", sans-serif;
  color: #898d8f;
}
main {
  flex: 1;
}

h1 {
  font-size: 48px;
  color: #151d21;
  line-height: 1.25;
  font-weight: 600;
}
h2 {
  font-size: 40px;
  color: #151d21;
  font-weight: 600;
}
h3 {
  font-size: 32px;
  color: #151d21;
  font-weight: 600;
}
h6 {
  font-size: 22px;
  color: #151d21;
}
a {
  text-decoration: none;
}
.button {
  font-size: 14px;
  color: #ffffff;
  background-color: #0898ff;
  border: 1px solid #0898ff;
  border-radius: 8px;
  padding: 12px 30px;
  text-align: center;
  height: 39.333px;
  line-height: 14px;
}
.button:hover {
  background-color: transparent;
  color: #0898ff;
}

.main-container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  max-width: 74.375rem;
  margin-left: auto;
  margin-right: auto;
}
/* Header CSS Start */
.header {
  background-color: transparent;
  padding: 9px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  transition: background-color 0.3s ease;
}
/* On Scroll The below class should be added on header */
.header-fixed {
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}
.header-phone-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #050081;
  position: relative;
  padding-left: 30px;
}
.header-phone-link:before {
  content: url(../assets/svg/phone-icon.svg);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
}
.nav-item:hover .nav-link {
  color: #050081;
  cursor: pointer;
}
/* Hide the dropdown menu by default */
.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  background: #fff;
  z-index: 1000;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100vw;
  background: #fff;
  z-index: 1000;
  border: none;
  border-top: 1px solid black;
  border-radius: 0;
  overflow-y: auto;
}

.dropdown-menu-heading {
  font-size: 16px;
  color: rgba(21, 29, 33, 0.7);
}
.dropdown-menu-title {
  color: #151d21;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  display: block;
}
.dropdown-menu-content {
  color: rgba(21, 29, 33, 0.7);
  font-size: 14px;
  padding: 15px;
}
.dropdown-menu-content:hover {
  background-color: #f5f8fa;
}
.dropdown-menu-content a {
  color: rgba(21, 29, 33, 0.7);
  font-size: 14px;
  cursor: pointer;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  list-style-type: none;
  text-align: left;
}
.dropdown-other-services {
  padding: 0px;
  list-style: none;
}
.dropdown-other-services a {
  color: rgb(21, 29, 33);
  font-size: 16px;
}
.dropdown-menu[data-bs-popper] {
  left: -350px;
}
.nav-sub-item {
  padding-top: 0.5rem;
}
/* dropdown for sm screens*/

.submenu_items .nav-item:hover {
  color: white;
}

/**/

.services:after {
  content: "^";
  font-size: 12px;
  display: inline-block;
  transform: rotate(180deg);
  margin-left: 6px;
  vertical-align: text-top;
}

/* Header Css End */

/* Hero Home Css Start */
.hero_home {
  background-color: #f2f2fa;
  padding-top: 140px;
  padding-bottom: 150px;
  background-image: url(../assets/svg/home-hero-back.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 110%;
}
.nav-link {
  font-size: 14px;
}
.nav-item:hover {
  color: #050081;
}
.navbar-nav .nav-link.active {
  color: #050081;
  font-weight: 600;
}
.hero_home_content {
  width: 100%;
  max-width: 560px;
}
.hero_home_container {
  position: relative;
}
.hero_home_container::before {
  content: "";
  position: absolute;
  right: 0;
  top: -5%;
  background-image: url(../assets/images/hero-home-decor.png);
  width: 200px;
  height: 152px;
  background-position: 50% 50%;
}
.hero_home_title {
  line-height: 1.25;
  margin-bottom: 10px;
  color: #000096;
}
.hero_home_text {
  font-size: 20px;
  color: #898d8f;
  margin-bottom: 25px;
}
.hero_home_images {
  width: 100%;
  max-width: 560px;
}
.hero_home_AI_ML {
  position: relative;
}

.hero_home_img_left {
  transition: transform 0.3s ease;
}
.hero_home_img_left {
  width: 100%;
  max-width: 188px;
  height: 158px;
  position: absolute;
  top: 50%;
  left: 52%;
  bottom: 50px;
}
.hero_home_img_right {
  width: 100%;
  max-width: 240px;
  height: 171px;
  position: absolute;
  right: 1%;
  bottom: 9%;
}
/* Hero Home Css End */
/* Team Css */
.teams {
  padding: 100px 0;
  background-color: #ffffff;
}
.teams_title {
  padding: 0 15px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #151d21;
}
.team_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 15px;
}
.team_wrapper img {
  padding: 0 14px 20px;
  cursor: pointer;
  transition: all 0.3s;
  width: 134px;
}
.team-image:hover,
.hero_home_img_left:hover,
.hero_home_img_right:hover {
  transform: scale(1.1);
}
/* Team Css End */

/* Offer Start Start */
.offers {
  background-color: #f8f8f8;
  padding: 50px 53px;
}
.offer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.offer_title {
  text-align: center;
  margin-bottom: 44px;
}
.offer_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.offer_card {
  width: 100%;
  max-width: 370px;
  text-align: center;
  border-radius: 12px;
  margin: 0 6px 25px;
  padding: 32px 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.offer_tabs-inner-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
  margin-top: 0.5rem;
}

.offer_card svg {
  transition: transform 0.5s ease, fill 0.5s ease;
}
.offer__tabs-inner-text {
  font-size: 14px;
  margin: 0;
}
.offer_card:hover {
  background-color: #04a1ff;
  color: #fff !important;
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.offer_card:hover svg {
  transform: translate(-130%, -20%) scale(1.2);
}

.offer_card:hover svg path[id^="Vector"] {
  fill: #fff; /* Change fill color to white on hover for paths with id starting with "Vector" */
}

/* Offer Css End */

/*  casestudies start     */
.casestudies {
  background-color: white;
  padding: 50px 0 100px;
}
.casestudies_content {
  width: 100%;
  max-width: 560px;
}
.casestudies_tit {
  text-align: center;
  margin-bottom: 44px;
}

.casestudies_text {
  font-size: 20px;
  color: #898d8f;
  margin-bottom: 25px;
}

.casestudies_title {
  color: black;
  padding-top: 0;
}
.casestudies_subtitle {
  font-weight: 500;
  text-transform: uppercase;
  color: #898d8f;
}
.casestudies_img {
  width: 300px;
}

.casestudies_button {
  font-size: 12px;
  border-radius: 99px;
  padding: 7px 25px;
  text-align: center;
  background-color: #f3f2f6;
  border: 1px solid #dcdce0;
  color: #151d21;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 2.5rem;
}
.team_wrapper .work-image {
  /* padding: 0 14px 20px; */
  cursor: pointer;
  transition: all 0.3s;
  width: 400px;
}
/*casestudies end*/

/* Client CSS Start*/

.clients {
  background-color: #f8f8f8;
  padding: 50px 0 100px;
}
.clients_title {
  text-align: center;
  margin-bottom: 44px;
}
.clients_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 15px;
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}
.clients img:not(.carousel-prev-icon, .carousel-next-icon) {
  min-height: 162px;
  max-height: 162px;
  width: 100%;
  max-width: 180px;
  object-fit: contain;
}
.carousel-indicators {
  margin-top: 2rem;
  top: 100%;
}
.carousel-indicators [data-bs-target] {
  background: white;
  border-color: black;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  border: 1px solid black;
}
.carousel-indicators .active {
  background-color: #000000;
}
.carousel-prev-icon,
.carousel-next-icon {
  background-color: black;
  border-radius: 50%;
}
.carousel-control-prev:hover,
.carousel-control-next :hover {
  opacity: 0.5;
}
.carousel-control-prev {
  height: 48px;
  width: 55px;
  opacity: 1;
  margin: auto 0 auto 15px;
}
.carousel-control-next {
  height: 48px;
  width: 55px;
  opacity: 1;
  margin: auto 15px auto 0;
}
/* Client CSS End*/

/* Blog CSS Start */
.blog {
  padding: 100px 0;
  background-color: #ffffff;
}
.blog_title {
  text-align: center;
  margin-bottom: 44px;
}
/* Blog CSS End */

/* Project Help CSS Start*/
.ask_for_project_help {
  background-color: #f8f8f8;
  padding: 60px 0 50px;
}
.project_title {
  font-weight: 500;
  line-height: 1.3;
  color: #151d21;
  margin: 0;
}
.project_description {
  color: #898d8f;
  margin: 18px 0;
}
.project_image {
  height: 231px;
  width: 100%;
  max-width: 218px;
  margin: 0;
}
label,
option {
  color: #898d8f;
}

.form-select-lg option,
.form-control-lg::placeholder {
  color: #898d8f;
}
.form-control-lg,
.form-select-lg {
  outline: none;
  height: 46px;
  font-size: 14px;
  color: #898d8f;
  border-radius: 0px;
}
.form-control-lg:focus,
.form-select-lg:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #8a8a8a;
  background-color: #e6e6e6;
  transition: box-shadow 0.5s, background-color 0.25s ease-in-out;
}
.start-project-btn {
  background-color: #12191c;
  border: 0.666667px solid transparent;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 37.3333px;
  line-height: 1;
  padding: 0.625rem 0.9375rem;
}
.form-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
  border: 2px solid #ffb900;
}
/* Project Help CSS End*/

/* Work CSS Start */
.hero_work {
  background: #f4fdff;
  padding-top: 8.7rem;
  padding-bottom: 3.75rem;
}
.hero_work .main-container {
  max-width: 1000px;
}
.hero_work_heading,
.hero_news_heading {
  margin-bottom: 10px;
  color: #000096;
}
.hero_work_text {
  font-size: 20px;
}
.hero_work img {
  height: 272px;
}
.filter_container {
  width: 100%;
  text-align: center;
  margin-top: 6.25rem;
}
.filter_button {
  padding: 9px 18px;
  margin: 0 4px;
  font-size: 13px;
  border-radius: 99px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #050081;
  color: #050081;
  font-weight: 500;
  outline: none;
}
.filter_button:hover {
  color: #ffffff;
  background-color: #050081;
  border: 1px solid #050081;
}
.filter_button.active {
  color: #ffffff;
  background-color: #050081;
  border: 1px solid #050081;
}
/* Work CSS End */

/*About us start*/
.hero-about {
  background: #fff9f2;
  padding-top: 140px;
  padding-bottom: 150px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 110%;
}

.culture {
  background-color: white;
  padding: 0px 0 100px;
}

.culture_title {
  color: #151d21;
  margin: 10px auto;
  line-height: 1.5rem;
  width: 80%;
}

.banner {
  background: linear-gradient(90deg, #000096 0%, #000096 70%, #0578fb 100%);
  padding: 32px 0;
}

.banner p {
  font-weight: 700;
}

.btn-contact-us {
  background-color: white;
  color: #000096;
  font-size: 16px;
  font-weight: 400;

  padding: 7px 24px;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid #ffffff;
}

.btn-contact-us:hover {
  background-color: #000096;
  color: #fff;
}

.cards img {
  object-fit: cover;
  border-radius: 10px;
}

.cards .card {
  border: none;
}

.read_more_link {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.learn_more_link {
  text-decoration: none;
  color: black;
}

.read_more_link:hover img,
.learn_more_link:hover img {
  transform: translateX(10px);
  transition: transform 0.3s ease;
}
.how-section1 {
  margin-top: -15%;
  padding: 10%;
}

.how-section1 h5 {
  color: black;
  font-weight: bold;
}
how-section1 p {
  color: #151d21;
}

.how-section1 .row {
  margin-top: 10%;
}
.how-img {
  text-align: center;
}
/*ABOUT END*/

/* News CSS Start */
.hero_news {
  background-color: rgba(45, 212, 255, 0.1);
  padding-top: 8.7rem;
  padding-bottom: 3.75rem;
}
.contact_form {
  display: flex;
  align-items: stretch;
  width: 100%;
}
.contact_form input[type="email"] {
  flex: 1 1 0px;
}
.contact_form input[type="submit"] {
  height: 46px;
  display: inline-block;
  padding: 0.625rem 0.9375rem;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #151d21;
  color: #fff;
}
.latest_blog .card,
.trending_blog .card {
  border-radius: 0;
  margin-bottom: 30px;
  border-bottom: 2px solid #e5d8c6;
  padding-bottom: 10px;
}
/* News CSS End */

/* News CSS Start */
.hero_news {
  background-color: rgba(45, 212, 255, 0.1);
  padding-top: 8.7rem;
  padding-bottom: 3.75rem;
}
.contact_form {
  display: flex;
  align-items: stretch;
  width: 100%;
}
.contact_form input[type="email"] {
  flex: 1 1 0px;
}
.contact_form input[type="submit"] {
  height: 46px;
  display: inline-block;
  padding: 0.625rem 0.9375rem;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #151d21;
  color: #fff;
}
.latest_blog .card,
.trending_blog .card {
  border-radius: 0;
  margin-bottom: 30px;
  border-bottom: 2px solid #e5d8c6;
  padding-bottom: 10px;
}
/* News CSS End */

/*Contact Us CSS Start*/

.contact-us {
  background: rgba(218, 242, 152, 0.46);
  padding-top: 140px;
  padding-bottom: 150px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 110%;
}

.contact-us .about_heading {
  color: #000096;
}
.contact-us .about_text {
  color: #898d8f;
}

.our_offices img {
  width: 100%;
  object-fit: cover;
}

.office-image {
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}
.office-image .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(8, 152, 255, 0.6);
}
.office-image .overlay .text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
.office-image .overlay .text h4 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 4px;
}
.office-image .overlay .text p {
  color: #fff;
  font-size: 16px;
}
.office-image:hover .overlay {
  opacity: 1;
}
.office_button {
  font-size: 14px;
  color: #ffffff;
  background-color: #0898ff;
  border: 1px solid #0898ff;
  border-radius: 8px;
  padding: 6px 30px;
  text-align: center;
}
.office_button a {
  color: white;
}
/*Contact Us CSS End*/
/*Bespoke business application start*/
.bespoke{
  background: #f2fcff;
} 
.bespoke .about_heading{
  color:#000096;
}
.bespoke .about_text{
  font-style: italic;
}


.bespoke_card{
  background-color:#f2fcff;
  border:0;
}


.offers_application{
  background-color: #F8F8F8;
}
.offers_application_card{
  border:0;
  background-color:  #F8F8F8;
}

.bespoke_teams{
  background: #F8F8F8;
}
.offers_application_card:hover svg{
  
   
    transform: translateX(0%) translateY(-20%) scale(1.2);
  }

/*Bespoke business application end*/




/*sdlc start*/


.sdlc{
  background-color: white;
}
.sdlc_container{
  background-color: white;
}

span.step{
  background: #2FB3D0;
  border-radius: 50%;
padding:15px;  
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  width: 55px;
  height:55px;
  text-align: center; 
}
.sdlcc_card {
  width: 100%;
  max-width: 370px;
  text-align: center;
  border-radius: 12px;
  margin: 0 6px 25px;
  padding: 32px 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}
/*
/* Footer CSS Start */

.footer {
  margin-top: auto;
  background-color: #050081;
  color: #ffffff;
  padding-top: 59px;
}

.footer_logo {
  margin-bottom: 25px;
}
footer h5 {
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0;
}
footer a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 13px;
  font-size: 14px;
}
footer a:hover {
  color: #03b6fc;
}
.footer_desc p {
  max-width: 215px;
  font-size: 14px;
}
.footer_copy {
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  padding-top: 58px;
  padding-bottom: 21px;
}
/* Footer CSS End */

/* SUB PAGES */
.main-content {
  padding-top: 150px;
  padding-bottom: 50px;
}
.single-post-wrapper,
.single-post-wrapper-content {
  margin: 0 auto;
  width: 80%;
}
.single-post-wrapper-content a:not(.button) {
  color: #0000ff;
  text-decoration: underline;
}
.blog-img {
  height: 230px;
  width: 100%;
}
/* Cloud Computing */
.hero_cloud_computing {
  background: #fff2f2;
  padding-top: 8.7rem;
  padding-bottom: 3.75rem;
}
.cloud_services {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cloud-tabs {
  background: #f8f8f8;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.nav-tabs .nav-item {
  width: calc(100% / 3);
  margin-right: 0px;
  margin-top: 5px;
  background-color: #0898ff;
}
.nav-tabs .nav-item .nav-link {
  color: #fff;
  border: 1px solid #ffffff;
  height: 100%;
  cursor: pointer;
  border-color: #ffffff;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background: transparent;
  border-radius: 0;
}

.nav-tabs .nav-link.active {
  background-color: #000096;
}
.nav-tabs .nav-link:hover {
  background-color: #000096;
}
.nav-tabs .nav-link.active {
  background-color: #000096;
}
.tab-content {
  border: 1px solid #ffffff;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-top: 0px;
  background-color: #ffffff;

  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #444;
}
/* Media Queries */
@media (max-width: 992px) {
  .hero_home_content_images {
    align-items: center;
  }
  .hero_home_container::before {
    display: none;
  }
  .navbar-nav {
    background-color: #fff;
    padding: 0;
  }
}
@media (max-width: 576px) {
  .nav-tabs .nav-item {
    width: 100%;
  }
}
@media only screen and (max-width: 1360px) {
  .hero_home_imagright {
    right: 0;
    bottom: -35px;
  }
}
